*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    overflow-y: scroll;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

.no-scrol::-webkit-scrollbar {
    display: none;
}

.navbar ul{
    position: fixed;
    width: 100%;
    list-style: none;
    background-color: #9b7fe9;
    top:0;
    overflow: hidden;
}

.navbar a{
    color: rgb(255, 252, 252);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(140, 233, 64);
}

.navbar li{
    float: left;
}

.log{
    position: fixed;
    right: 0;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 140px;
}

.card{
    width: 300px;
    background-color: #ae80f8;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    margin: 25px;
}

.card:hover{
    box-shadow: 0 18px 16px 0 rgba(0,0,0,0.2);
}

.card img{
    width: 100%;
    height: 65%;
    padding: 20px;
	border-radius: 30px;
}

.card-content{
    padding: 20px;
}

.card-content h3{
    font-size: 25px;
    margin-bottom: 8px;
}

.card-content p{
    color: rgb(0, 0, 0);
    font-size: 15px;
    line-height: 1.3;
}

.btn{
	text-align: center;
    display: inline-block;
    padding: 8px 16px;
	width: 100%;
    background-color: aquamarine;
    border-radius: 5px;
    margin-top: 15px;
    color: rgb(0, 38, 255);
}

.search_filter{
	padding-top: 10px;
	text-align: center;
}

.search_filter input, .search_filter button{
	font-size: 24px;
	font-weight: 100;
}
.foot{
    padding-top: 3%;
}

.foot ul{
    position: fixed;
    bottom: 0;
    width: 100%;
    list-style: none;
    background-color: #9b7fe9;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.foot a{
    color: rgb(255, 252, 252);
    text-decoration: none;
    padding: 5px;
    display: block;
    text-align: center;
}

.foot a:hover{
    background-color: rgb(140, 233, 64);
}

.foot li{
    float: left;
}

.cont{
    position: relative;
    left: 74%;
}
table {
    border: 2px solid black;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 33%;
  }
  
  tr:nth-child(even) {
    background-color: white;
  }
  
  tr:nth-child(odd) {
    background-color:skyblue;
  }

.heading{
    font-size: 25px;
    color: #9b7fe9;
    padding: 2%;
    text-align: center;
}