<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/project.css">
</head>

<body class="no-scrol">
    <nav class="navbar">
        
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/forum">Forum</a></li>
            <% if(user==""){ %>
                <li class="log"><a href="/login">Login</a></li>
            <% }else{ %>
                <div class="userinfo">
                    <span><%- user %></span>
                    <span><a href="/users/logout">Logout</a></span>
                </div>
            <% } %>
        </ul>
    </nav>

    <main>
	<div class="container">
		<div class="sidebar">
			<a href="#python" class="a">Python</a>
			<a href="#iot" class="a">IOT</a>
			<a href="#web" class="a">Web</a>
			<a href="#java" class="a">Java</a>
			<a href="#android" class="a">Android</a>
			<a href="#others" class="a">Others</a>
		</div>

		<div class="content">
			<% if(position == "Admin"){ %>
				<div class="add__section"><a href="/add_data?form=project">Add Project</a></div>
			<% } %>
			<div class="card">
				<div class="card-content">
					<h2>Name: </h2>
					<p>Desription:</p>
					<a href="link"><div class="btn">View</div></a>
				</div>
			</div>

			<div class="card">
				<div class="card-content">
					<h2>Name: </h2>
					<p>Desription:</p>
					<a href="link"><div class="btn">View</div></a>
				</div>
			</div>
			
			<div class="card">
				<div class="card-content">
					<h2>Name: </h2>
					<p>Desription:</p>
					<a href="link"><div class="btn">View</div></a>
				</div>
			</div>
			
			<div class="card">
				<div class="card-content">
					<h2>Name: </h2>
					<p>Desription:</p>
					<a href="link"><div class="btn">View</div></a>
				</div>
			</div>
			
			<div class="card">
				<div class="card-content">
					<h2>Name: </h2>
					<p>Desription:</p>
					<a href="link"><div class="btn">View</div></a>
				</div>
			</div>
			
			<div class="card">
				<div class="card-content">
					<h2>Name: </h2>
					<p>Desription:</p>
					<a href="link"><div class="btn">View</div></a>
				</div>
			</div>
		</div>
    </main>


<footer class="foot">
    <ul>
        <li><a href="hand.html">2handbooks</a></li>
        <li><a href="portfolio.html">instagram</a></li>
        <li><a href="freelance.html">freelance</a></li>
        <li><a href="https://github.com/cosmic-knight">github</a></li>
        <li class="log"><a href="mailto:debnathsaiket53@gmail.com">Contact</a></li>
    </ul>
</footer>

</body>

</html>
