<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/project.css">
</head>

<body class="no-scrol">
    <nav class="navbar">
        
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/forum">Forum</a></li>
            <% if(user==""){ %>
                <li class="log"><a href="/login">Login</a></li>
            <% }else{ %>
                <div class="userinfo">
                    <span><%- user %></span>
                    <span><a href="/users/logout">Logout</a></span>
                </div>
            <% } %>
        </ul>
    </nav>

    <main>
	<div class="container">
		<div class="sidebar">
			<a href="/projects?technology=python" class="a">Python</a>
			<a href="/projects?technology=iot" class="a">IOT</a>
			<a href="/projects?technology=react" class="a">React</a>
			<a href="/projects?technology=nodejs" class="a">Nodejs</a>
			<a href="/projects?technology=android" class="a">Android</a>
		</div>

		<div class="content">
			<% if(position == "Admin"){ %>
				<div class="add__section"><a href="/add_data?form=project">Add Project</a></div>
			<% } %>

			<% for(let i=0; i<projectdata.length; i++){ %>
			<div class="card">
				<div class="card-content">
					<h2>Name: <%- projectdata[i].name %></h2>
					<p>Description: <%- projectdata[i].description %></p>
					<a href="<%- projectdata[i].url %>"><div class="btn">Download</div></a>
				</div>
			</div>
			<% } %>

			<!-- <div class="card">
				<div class="card-content">
					<h2>Name: </h2>
					<p>Desription:</p>
					<a href="link"><div class="btn">View</div></a>
				</div>
			</div>
			
			<div class="card">
				<div class="card-content">
					<h2>Name: </h2>
					<p>Desription:</p>
					<a href="link"><div class="btn">View</div></a>
				</div>
			</div>
			
			<div class="card">
				<div class="card-content">
					<h2>Name: </h2>
					<p>Desription:</p>
					<a href="link"><div class="btn">View</div></a>
				</div>
			</div>
			
			<div class="card">
				<div class="card-content">
					<h2>Name: </h2>
					<p>Desription:</p>
					<a href="link"><div class="btn">View</div></a>
				</div>
			</div>
			
			<div class="card">
				<div class="card-content">
					<h2>Name: </h2>
					<p>Desription:</p>
					<a href="link"><div class="btn">View</div></a>
				</div>
			</div> -->
		</div>
    </main>


<footer class="foot">
    <ul>
        <li><a href="hand.html">2handbooks</a></li>
        <li><a href="portfolio.html">instagram</a></li>
        <li><a href="freelance.html">freelance</a></li>
        <li><a href="https://github.com/cosmic-knight">github</a></li>
        <li class="log"><a href="mailto:debnathsaiket53@gmail.com">Contact</a></li>
    </ul>
</footer>

</body>

</html>
